/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .size-selector input:checked + label{
      @apply bg-orangeRed text-white;
  } 
  .color-selector input:checked + label{
      @apply ring-1 ring-yellow-300;
  }
  
  .input-box{
      @apply block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded placeholder-gray-400  focus:border-orangeRed  focus:ring-orangeRed outline-none
  }

  .rememberme-selector input:checked{
      @apply bg-orangeRed;
  }
}

body {
  max-width: 1350;
  margin-left: auto; 
  margin-right: auto;
}
.center {
  @apply flex items-center justify-center
}

.start {
  @apply flex items-start justify-start
}

.between {
  @apply flex items-center justify-between
}

.wrapper {
  @apply sm:px-[24px] md:px-[48px] px-[16px]
}